<div class="section container">
  <div class="row">
    <div class="col s12 m6 offset-m3">
      <div class="card form-wrapper">
        <div class="card-content">

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

          <h4 class="center">Edit <%= resource_name.to_s.humanize %></h4>

          <%= devise_error_messages! %>

          <div class="field input-field">
            <%= f.email_field :email, autofocus: true, class: "validate #{error_class(resource, :email)}" %>
            <%= f.label :email, "data-error" => show_errors(resource, :email) %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="field input-field">
            
            <%= f.password_field :password, autocomplete: "off", class: "validate #{error_class(resource, :password)}" %>
            <%= f.label :password, "data-error" => show_errors(resource, :password) %> <i>(leave blank if you don't want to change it)</i>
            <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> characters minimum</em>
            <% end %>
          </div>

          <div class="field input-field">
            
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "validate #{error_class(resource, :password_confirmation)}" %>
            <%= f.label :password_confirmation, "data-error" => show_errors(resource, :password_confirmation) %>
          </div>

          <div class="field input-field">
            <%= f.password_field :current_password, autocomplete: "off", class: "validate #{error_class(resource, :current_password)}" %>
            <%= f.label :current_password, "data-error" => show_errors(resource, :current_password) %> <i>(we need your current password to confirm your changes)</i>
          </div>

          <div class="field input-field">
            <%= recaptcha_tags %>
            <br>
          </div>

          <%= f.submit "Update", class: "btn-large waves-effect waves-light form-button" %>

          <% end %>

          <h4 class="center">Cancel my account</h4>

          <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "red accent-4 btn-large waves-effect waves-light form-button" %></p>

          <%= link_to "Back", :back %>
          

          
        </div>
      </div>
    </div>
  </div>
</div>