<div class="section container">
  <div class="row">
    <div class="col s12 m6 offset-m3">
      <div class="card form-wrapper">
        <div class="card-content">

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <h4 class="center">Sign up</h4>


          <div class="field input-field">
            <%= f.text_field :full_name, autofocus: true, required: true, class: "validate #{error_class(resource, :full_name)}" %>
            <%= f.label :full_name, "data-error" => show_errors(resource, :full_name) %>
          </div>

          <div class="field input-field">
            <%= f.text_field :contact, required: true, class: "validate #{error_class(resource, :contact)}" %>
            <%= f.label :contact, "data-error" => show_errors(resource, :contact) %>
          </div>

          <div class="field input-field">
            <%= f.email_field :email, required: true, class: "validate #{error_class(resource, :email)}"%>
            <%= f.label :email, "data-error" => show_errors(resource, :email) %>
          </div>

          <div class="field input-field">
            <%= f.password_field :password, required: true, autocomplete: "off", class: "validate #{error_class(resource, :password)}" %>
            <%= f.label :password, 'Password ( 6 characters minimum )', "data-error" => show_errors(resource, :password) %>
          </div>

          <div class="field input-field">
            <%= f.password_field :password_confirmation,required: true, autocomplete: "off", class: "validate #{error_class(resource, :password_confirmation)}" %>
            <%= f.label :password_confirmation, "data-error" => show_errors(resource, :password_confirmation) %>
          </div>

          <div class="field input-field">
            <%= recaptcha_tags %>
            <br>
          </div>

          <%= f.submit "Sign up", class: "btn-large waves-effect waves-light form-button" %>
          <%= render "restaurant_owners/shared/links" %>
          <% end %>

          
        </div>
      </div>
    </div>
  </div>
</div>