
  <div class="field input-field col s12">
    <%= f.text_field :name, class: "validate #{error_class(@table, :name)}" %>
    <%= f.label :name, "data-error" => show_errors(@table, :name) %>
  </div>

 

  <div class="field input-field col s12">
    <%= f.select :restaurant_id, current_restaurant_owner.restaurants.all.map {|p| [ p.name, p.id ] }, { :include_blank => "Select Restaurant" } %>
    <%= f.label :restaurant_id, "data-error" => show_errors(@table, :restaurant_id) %>
  </div>


  <div class="row actions col s12">
    <%= f.submit "Save", class: "waves-effect waves-light btn" %>
  </div>