<div class="section container">
	<div class="row">
		<div class="col s12 m6 offset-m3">
			<div class="card form-wrapper">
				<div class="card-content">
					<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>

					<h4 class="center">Resend confirmation instructions</h4>

					<%= devise_error_messages! %>

					<div class="field input-field">
						<%= f.email_field :email, autofocus: true, required: true, class: "validate", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
						<%= f.label :email %>
					</div>

					<%= f.submit "Resend Confirmation", class: "btn-large waves-effect waves-light form-button" %>
					<% end %>

					<%= render "restaurant_owners/shared/links" %>

				</div>
			</div>
		</div>
	</div>
</div>