<div class="section container">
	<div class="row">
		<div class="col s12 m6 offset-m3">
			<div class="card form-wrapper">
				<div class="card-content">

					<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>

					<h4 class="center">Resend unlock instructions</h4>

					<%= devise_error_messages! %>

					<div class="field input-field">
						<%= f.label :email %><br />
						<%= f.email_field :email, autofocus: true %>
					</div>

					<%= f.submit "Resend Instructions", class: "btn-large waves-effect waves-light form-button" %>
					<%= render "restaurant_owners/shared/links" %>

					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>