<!DOCTYPE html>
<html>
<head>
<title>
<%= t('app_name')%></title>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'my_bootstrap', media: 'all', 'data-turbolinks-track' => 'reload' %>
	<%= render 'application/favicon' %>

	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
	
	
<link rel="manifest" href="/manifest.json" />
<meta name="apple-mobile-web-app-capable" content="yes">

</head>

<body id="page-top">

    	<% if params[:action] == "eula" || params[:action] == "policy" %>
			<%= render 'layouts/navbar_eula_policy' %>
		<% else%>
			<%= render 'layouts/navbar' %>
		<% end %>

		<%= yield %>
		<%= render 'layouts/footer' %>

</body>
	<%= javascript_include_tag 'my_bootstrap', 'data-turbolinks-track' => 'reload' %>
</html>