<!DOCTYPE html>
<html>
<head>
	<title><%= t('app_name')%></title>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
	<%= render 'application/favicon' %>
	
</head>

<body>

	<header class="owner-padding">
		<%= render('layouts/navbar_restaurant_owners') %>
	</header>

	<main class="owner-padding" > 
				<%= yield %>
	</main>

	<footer class="owner-padding"></footer>

</body>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
</html>


