<!DOCTYPE html>
<html>
<head>
	<title><%= t('app_name')%></title>
	<%= csrf_meta_tags %>
	<%= action_cable_meta_tag %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
	<%= render 'application/favicon' %>
	
</head>

<body>
<header>

	<%= render('layouts/navbar_restaurant_managers') %>
</header>



	<% if restaurant_manager_signed_in? %>
		<main>
			<%= yield %>
		</main>
	<% else %>
		<main class="pattern_bg" >
			<%= yield %>
		</main>
	<% end %>
</body>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
</html>


